<div class="chat-box">
  <div class="chat-head">
    <h2>Chat</h2>
    <!-- Puedes agregar un icono aquí si lo necesitas -->
  </div>

  <div class="chat-body">
    <div class="msg-container">
      <div *ngFor="let message of messages" [ngClass]="{'msg-send': message.user === 'TuNombreDeUsuario', 'msg-receive': message.user !== 'TuNombreDeUsuario'}">
        <p>{{ message.user }}: {{ message.msg }}</p>
      </div>
    </div>
  </div>

  <div class="column">
    <textarea [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." (keydown.enter)="sendMessage()"></textarea>
    <button (click)="sendMessage()" class="custom-button">Enviar</button>
  </div>
</div>
