<footer>
  <p>Proyecto para la asignatura de Tecnología y Sistemas Web. Universidad de Castilla-La Mancha</p>
  <p>Realizado por: Rául González Velázquez, Pablo Porrero Almansa, Laura Fernández del Moral y Víctor Jiménez Díaz</p>
  <p>Curso 2023/2024</p>
  <div class="git-icons">
    <a href="https://github.com/gvraul8/TySWebFront" target="_blank" class="github-link">
      <div class="git-icon-container">
        <span class="iconify" data-icon="mdi:github"></span>
      </div>
      <span class="git-text">Frontend</span>
    </a>
    <a href="https://github.com/ppa21102/TySWeb" target="_blank" class="github-link">
      <div class="git-icon-container">
        <span class="iconify" data-icon="mdi:github"></span>
      </div>
      <span class="git-text">Backend</span>
    </a>
  </div>
</footer>
